:host {
    .my-table {
        width: 100%;
        border-collapse: collapse;
        
        th,
        td {
            padding: 0.2rem;
            text-align: left;
            // border-bottom: 1px solid #dee2e6;
        }

        th {
            border-bottom: 1px solid #dee2e6;
            // background: #f8f9fa;
            font-weight: 600;

            &.sortable {
                cursor: pointer;

                &:hover {
                    background-color: #e9ecef;
                }
            }
        }
        tbody tr {
            cursor: pointer;
            border-bottom: 1px solid #ebecee;

            &.selected-row {
                background-color: #acacad !important;
                // color: white;
            }

            &.unselected-row {
                opacity: 0.7;
            }

            &:nth-child(even) {
                background-color: #ebecee;
            }
        }

        tbody tr:hover {
            background-color: #acacad;
            transition: background-color 0.3s ease;
        }
    }
}

.percent-high {
    background-color: #86efac; // Light green
}

.percent-medium {
    background-color: #fde68a; // Light yellow
}

.percent-low {
    background-color: #fca5a5; // Light red
}

.percent-very-low {
    background-color: #f87171; // Darker red
}
