<app-card [title]="title()">
    <div class="h-full overflow-y-auto">
        <table class="table-auto my-table min-w-full">
            <thead>
                <tr>
                    @for (column of tableDataState().columns; track column.key) {
                        <th [class.cursor-pointer]="column.sortable" (click)="onSort(column)" class="px-4 py-2 text-left">
                            {{ column.label }}

                            @if (sortColumn === column.key) {
                                <span class="ml-1">{{ sortDirection === 'asc' ? '↑' : '↓' }}</span>
                            }
                        </th>
                    }
                </tr>
            </thead>
            <tbody class="overflow-y-scroll">
                @for (row of tableDataState().rows; track $index) {
                    <tr (click)="onSelectRow(row)" 
                        [class.selected-row]="isRowSelected(row)"
                        [class.unselected-row]="selectedRows().length > 0 && !isRowSelected(row)">
                        @for (column of tableDataState().columns; track column.key) {
                            <td class="px-4 py-2" [class]="row._classes[column.key]">
                                {{ row[column.key] }} {{ column.showPercent ? '%' : null }}
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</app-card>
