@if (label()) {
    <h5 class="text-gray-700 m-0 font-bold mb-2">{{ label() }}</h5>
}

@if (isMultiple()) {
    <p-multiSelect [options]="options()" [placeholder]="placeholder()" (onChange)="onSelectionChange($event)" [(ngModel)]="value" optionLabel="label" optionValue="value" selectedItemsLabel="All" class="w-full"> </p-multiSelect>
} @else {
    <p-select [options]="options()" [placeholder]="placeholder()" (onChange)="onSelectionChange($event)" [(ngModel)]="value" optionLabel="label" optionValue="value" class="w-full"> </p-select>
}
