<h5 class="text-gray-700 m-0 font-bold mb-2">{{ label() }}</h5>

@if (isMultiple()) {
    <p-multiSelect [options]="optionsWithAll()" [(ngModel)]="selectedValues" [placeholder]="placeholder()" (onChange)="onSelectionChange($event)" [showToggleAll]="false" [showHeader]="false" optionLabel="label" class="w-full"> </p-multiSelect>
} @else {
    <p-dropdown [options]="optionsWithAll()" [(ngModel)]="selectedValues" [placeholder]="placeholder()" (onChange)="onSelectionChange($event)" optionLabel="label" class="w-full"> </p-dropdown>
}
