.chart-container {
    position: relative;
    width: 100%;
}

.chart-legend {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-bottom: 10px;
}

.legend-item {
    font-size: .7rem;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    // margin: 5px 15px 5px 0;
    cursor: pointer;
    padding: 0px 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }

    &.selected {
        background-color: rgba(0, 0, 0, 0.1);
        font-weight: 500;
    }
}

.color-box {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
}
